/*
Theme Name: Juliet
Theme URI: https://www.lyrathemes.com/juliet/
Author: LyraThemes
Author URI: https://www.lyrathemes.com/
Description: Juliet is a simple, elegant, lifestyle blogging WordPress theme. It comes with two skins: a classic feminine look, and a more contemporary minimalist look. Juliet comes with WooCommerce integration and a special front page layout with a banner and featured posts. Multiple widget areas allow you set up your website your way! It also comes with built-in menus for displaying your social media presence, multiple blog feed layouts, text and image logo options, banner color overlay options, and much more! It is also perfect to creat a simple business website. You can also use Juliet to build a gorgeous online store, with it's awesome WooCommerce integration. Beautifully designed and extremely clean and light weight, Juliet is backed by world class, one-on-one support, and a super active team of developers and designers ready to help! 
Version: 1.4.1
License: GPLv3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.en.html
Text Domain: juliet
Domain Path: /languages/
Tags: one-column, two-columns, three-columns, right-sidebar, grid-layout, flexible-header, custom-background, custom-colors, custom-header, custom-menu, featured-images,footer-widgets, full-width-template, theme-options, threaded-comments, translation-ready, food-and-drink, e-commerce
*/

/* BASE
------------------------------------------------------------------------*/

body{position:relative}
body.style2{overflow-x:hidden;}

.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6{}
hr{margin:0 0 35px}
img.pull-left{margin-right:10px}
a{-webkit-transition:all 0.2s ease-in;-moz-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;transition:all 0.2s ease-in;text-decoration:none;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus,
img:focus,
input:focus,
button:focus,
a:focus,
a:active,
a:hover{outline:none; text-decoration:none;}
.entry-content p a{text-decoration:underline;}

/* --- Background ---*/

body.custom-background .main-wrapper{background-color:#fff;margin:0 auto;max-width:100%;}
@media (min-width:768px){body.custom-background .main-wrapper{width:850px}}
@media (min-width:992px){body.custom-background .main-wrapper{width:1070px}}
@media (min-width:1200px){body.custom-background .main-wrapper{width:1270px}}

body.boxed .main-wrapper{background-color:#fff;margin:0 auto;max-width:100%;}
@media (min-width:768px){body.boxed .main-wrapper{width:850px}}
@media (min-width:992px){body.boxed .main-wrapper{width:1070px}}
@media (min-width:1200px){body.boxed .main-wrapper{width:1270px}}

/* FONTS
------------------------------------------------------------------------*/

/* Body */
body{font-family: 'Lato', sans-serif;font-size:13px;line-height:23px;}
body.style2{font-family: 'Lato', sans-serif;font-size:13px;line-height:23px;}

/* Headings */
.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6{font-family:'Crimson Text', serif;font-weight:400;letter-spacing:-0.5px}  
.style2 .h1,.style2 .h2,.style2 .h3,.style2 .h4,.style2 .h5,.style2 .h6, 
.style2 h1,.style2 h2,.style2 h3,.style2 h4,.style2 h5,.style2 h6{font-family:'Montserrat', sans-serif;text-transform:uppercase;letter-spacing:normal;}  
h1{font-size:28px;} .style2 h1{font-size:20px;}
h2{font-size:24px;} .style2 h2{font-size:18px;}
h3{font-size:22px;} .style2 h3{font-size:16px;}
h4{font-size:14px;} .style2 h4{font-size:14px;}
h5{font-size:14px;} .style2 h5{font-size:14px;}
h6{font-size:14px;} .style2 h6{font-size:14px;}

/* Logo and Tagline */
.logo .header-logo-text{font-size:60px;font-family: 'Crimson Text', serif;font-weight:normal;font-style:italic;text-transform:none;letter-spacing:-2px}
.tagline{font-size:14px; font-family: 'Crimson Text', serif;font-style:italic;}

/* Nav */
.navbar-default .navbar-nav > li > a{font-family:'Lato', sans-serif;font-size:12px;font-weight:400;letter-spacing:1px;}
.navbar-default .dropdown-menu > li > a{font-family:'Lato', sans-serif;font-size:11px;}
.header-row-1-left .menu > li > a{font-family:'Lato', sans-serif;font-size:10px;text-transform:uppercase;}

.style2 .navbar-default .navbar-nav > li > a{font-family:'Montserrat', sans-serif;font-size:12px;letter-spacing:0.5px;}
.style2 .navbar-default .dropdown-menu > li > a{font-family:'Montserrat', sans-serif;font-size:11px;}
.style2 .header-row-1-left .menu > li > a{font-family:'Montserrat', sans-serif;font-size:10px;text-transform:uppercase;}

/* Widgets */
.style2 .header-row-1-left .menu > li > a{font-family:'Montserrat', sans-serif;font-size:10px;text-transform:uppercase;}

/* Misc */
.pagination-blog-feed a{text-decoration:none;font-size:12px;font-weight:700;text-transform:uppercase}
.style2 .pagination-blog-feed a{text-decoration:none;font-size:10px;font-weight:normal;text-transform:uppercase;padding:12px;background-color:#2d2d2d;color:#fff;}



/* COLORS
------------------------------------------------------------------------*/

body{color:#242424;}

hr{border-top-color:#d5d5d5;}
.style2 hr{border-top-color:#000000;}

/* Headings */

h1, h2, h3, h4, h5, h6{color:#353535}  
a{color: #242424;}
a:focus, a:active, a:hover{color:#da404b;}
.style2 a:focus, .style2 a:active, .style2 a:hover{color:#000;}

/* Logo */

.logo .header-logo-text{color:#da404b;}
.style2 .logo .header-logo-text{color:#242424;}
.style2 .tagline{color:#222222;}

/* Nav */

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover{color:#da404b;}
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover{color:#da404b;}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:focus, 
.navbar-default .navbar-nav > .open > a:hover{color:#da404b;}
.navbar-default .navbar-nav > li > .dropdown-menu{background-color:#fbfbfb;padding:0}
.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:focus, 
.dropdown-menu > .active > a:hover,
.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover{background-color:#d2d2d2;color:#fff}

.style2 .navbar-default .navbar-nav > .active > a, 
.style2 .navbar-default .navbar-nav > .active > a:focus, 
.style2 .navbar-default .navbar-nav > .active > a:hover {color:#000000;}
.style2 .navbar-default .navbar-nav > li > a:focus, 
.style2 .navbar-default .navbar-nav > li > a:hover{color:#000000;}
.style2 .navbar-default .navbar-nav > .open > a, 
.style2 .navbar-default .navbar-nav > .open > a:focus, 
.style2 .navbar-default .navbar-nav > .open > a:hover{color:#000000;}
.style2 .navbar-default .navbar-nav > li > .dropdown-menu{background-color:#ffffff;padding:0}
.style2 .navbar-default .dropdown-menu > li > a{color:#242424}
.style2 .navbar-default .dropdown-menu > li > a:focus,
.style2 .navbar-default .dropdown-menu > li > a:hover,
.style2 .navbar-default .dropdown-menu > li.active > a,
.style2 .navbar-default .dropdown-menu > li.active > a:focus,
.style2 .navbar-default .dropdown-menu > li.active > a:hover{background-color:#f6f6f6;color:#242424}

.style2 .header-row-1-left .menu > li > a{color:#242424}

/* Off Canvas */

.side-page-nav ul > li > a:focus,
.side-page-nav ul > li > a:hover{background-color:#d2d2d2;}

/* Misc */

.recent-posts-widget-with-thumbnails .rpwwt-post-categories,
.frontpage-banner .caption .category,
.entry-category a,
.pagination-blog-feed a:after,.pagination-blog-feed a:before,
.pagination-blog-feed a:hover,.pagination-blog-feed a:focus{color:#da404b;}

.style2 .recent-posts-widget-with-thumbnails .rpwwt-post-categories,
.style2 .frontpage-banner .caption .category,
.style2 .entry-category a,
.style2 .entry-category,
.style2 .entry-caption .category,
.style2 .pagination-blog-feed a:after,.pagination-blog-feed a:before,
.style2 .pagination-blog-feed a:hover,.pagination-blog-feed a:focus{color:inherit;}

.entry.entry-sticky{border-right:3px solid #da404b}
.style2 .entry.entry-sticky{border-right:none;}

.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar,
.entry-tags a:hover { background-color: #da404b;}

.style2 .navbar-default .navbar-toggle:focus .icon-bar, 
.style2 .navbar-default .navbar-toggle:hover .icon-bar,
.style2 .entry-tags a:hover { background-color: #000;}

/* Footer */

.footer-row-1,
.footer-row-2{border-top:1px solid #d5d5d5;}

.style2 .footer-row-1,
.style2 .footer-row-2{border-top:1px solid #000;}

/* WORDPRESS CORE
------------------------------------------------------------------------*/
.alignnone { margin: 5px 20px 20px 0; }
.aligncenter,
div.aligncenter { display: block; margin: 5px auto 5px auto; }
.alignright { float:right; margin: 5px 0 20px 20px; }
.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.alignright { float: right; margin: 5px 0 20px 20px; }
a img.alignnone { margin: 5px 20px 20px 0; }
a img.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto }
img.alignright { max-width:100%; height:auto;}
img.alignnone { max-width:100%; height:auto;}
img.alignleft { max-width:100%; height:auto;}
img.aligncenter { max-width:100%; height:auto;}
.wp-caption { max-width: 100%; /* Image does not overflow the content area */ }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; margin-top: 10px; padding: 0 4px 5px; }
/* Text meant only for screen readers. */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; /* Above WP toolbar. */ }
.sticky,
.gallery-caption,
.bypostauthor {}
/* Galleries */
.gallery {margin: 0 -1.1666667% 1.75em;}
.gallery-item { display: inline-block; max-width: 33.33%; padding: 0 1.1400652% 2.2801304%; text-align: center; vertical-align: top; width: 100%; }
.gallery-columns-1 .gallery-item { max-width: 100%; }
.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%; }
.gallery-columns-7 .gallery-item { max-width: 14.28%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11%; }
.gallery-icon img { margin: 0 auto; }
.gallery-caption { color: #686868; display: block; font-size: 13px; font-size: 0.8125rem; font-style: italic; line-height: 1.6153846154; padding-top: 0.5384615385em; }
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption { display: none; }


/* HEADER
------------------------------------------------------------------------*/

.header{}
.header { border-bottom: #d5d5d5 solid 1px; margin-bottom: 20px; }
.frontpage .header {border-bottom:none; margin-bottom:0px;}

/* Row 1 */

.header-row-1-toggle{text-align:center;border-bottom:1px solid #d5d5d5;padding:5px 10px;display:none}
.header-row-1-toggle:before{font-family:'FontAwesome';content:"\f078";color:#000;}
.header-row-1-toggle:focus,
.header-row-1-toggle:hover{text-decoration:none;outline:none}
.header-row-1{border-bottom:1px solid #d5d5d5;padding:14px 0 12px;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-ms-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease}
.style2 .header-row-1{padding:14px 0 12px;margin:0;background-color:#fff;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-ms-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease;-webkit-box-shadow:1px 1px 1px #d5d5d5;-moz-box-shadow:1px 1px 1px #d5d5d5;box-shadow:1px 1px 1px #d5d5d5;position:absolute;top:0;left:0;width:100%}
.style2 .header{padding-top:70px}
.header-row-1-right{text-align:right}

/* Row 2 */

.header-row-2{padding:35px 0 20px; margin-bottom: 0px;}
/* .frontpage .header-row-2{padding:50px 0 35px; border-bottom: none !important; margin-bottom:0px !important;} */
.fixed-header .header-row-2{position:fixed;z-index:9999;top:0;left:0;width:100%;background-color:#fff;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.2);-moz-box-shadow:0 0 5px rgba(0,0,0,0.2);box-shadow:0 0 5px rgba(0,0,0,0.2);padding:10px 0;-webkit-transition:all 0.4s;-moz-transition:all 0.4s;-ms-transition:all 0.4s;-o-transition:all 0.4s;transition:all 0.4s}
.header-row-2-left{float:left;position: relative;z-index: 2;}
.header-row-2-right{float:right}


/* Logo */

.fixed-header .logo{line-height:43px;height:43px;}
.fixed-header .logo.image-logo{line-height:43px;height:43px;margin-top:-10px}
.fixed-header .logo .header-logo-text{line-height:43px;height:43px;font-size:40px;margin-top:0px;}

.logo{line-height:70px;height:70px;}
.logo .custom-logo-link{margin:0}
.logo .custom-logo-link img{max-height:100%;width:auto}
.logo .header-logo-text{line-height:70px;height:70px;}
.logo .header-logo-text a{color:inherit;text-decoration:none}
.logo.image-logo{line-height:80px;height:80px;margin-top:-25px}

.logo .header-logo-text{margin:0;margin-top:-15px;}
.logo .header-logo-text a{color:inherit;text-decoration:none}

/* Tagline */

.fixed-header .tagline{font-size:12px;margin-top:-6px}
.fixed-header .tagline.image-logo{font-size:12px;margin:-6px 0 0 25px}

.tagline{margin:-15px 0 0 10px}	
.tagline.image-logo{margin:-10px 0 0 10px;}	
.tagline p{margin:0}
        
/* Nav */

.navbar-default{border:0;margin:0;background-color:transparent;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.navbar-default .navbar-collapse{padding:0}
.navbar-default .navbar-nav > li > a{color:#000; text-transform:uppercase;padding-left:20px;padding-right:20px}
.navbar-default .navbar-nav > li:last-child > a{padding-right:0}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background-color:transparent}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{background-color:transparent}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{background-color:transparent}
.navbar-default .dropdown-menu > li > a{font-size:13px;padding:10px 20px;}
.navbar-default .navbar-toggle{border-color:#fff}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color:transparent}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar{background-color:#da404b}

.navbar-default .navbar-nav > li > .dropdown-menu{min-width:182px;left:20px;border-color:#fff;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.style2 .navbar-default .navbar-nav > li > .dropdown-menu { min-width:182px;left:20px;border-color:#fff;-webkit-box-shadow:0 3px 8px rgba(0,0,0,0.21);-moz-box-shadow:0 3px 8px rgba(0,0,0,0.21);box-shadow:0 3px 8px rgba(0,0,0,0.21);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}


/* FRONT PAGE - BANNER
------------------------------------------------------------------------*/

.frontpage-banner{margin-bottom:50px;position:relative}
.frontpage-banner:before{z-index:1;content:"";position:absolute;top:0;left:0;height:100%;width:100%;background-color:#000;opacity:0.2;filter:alpha(opacity=20);-webkit-transition:opacity 0.4s ease;-moz-transition:opacity 0.4s ease;-o-transition:opacity 0.4s ease;transition:opacity 0.4s ease;}

.frontpage-banner .caption{z-index:2;padding:55px 95px 35px;position:absolute;width:470px;left:50%;margin-left:-235px;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);background-color:#fff;background-color:rgba(255,255,255,0.90);text-align:center;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;-webkit-filter:blur(0);filter:blur(0);font-size:16px;}
.style2 .frontpage-banner .caption{z-index:2;padding:0 15px;position:absolute;width:100%;left:0;margin-left:0;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);background-color:transparent;border:0;text-align:center;opacity:1;filter:alpha(opacity=100);-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;-webkit-filter:blur(0);filter:blur(0);font-size:16px;}

.frontpage-banner .caption h2{margin:0 0 25px;}
.frontpage-banner .caption .description a{text-decoration:underline;}

.style2 .frontpage-banner .caption h2 {font-size:40px;margin:0 0 25px;letter-spacing:1px}
.style2 .frontpage-banner .caption a{color:#fff;}
.style2 .frontpage-banner .caption .description a{color:#fff;text-decoration:underline;}

.frontpage-banner .caption .description{margin:0 0 25px}
.style2 .frontpage-banner .caption .description{margin:0 auto; width:60%; color:#fff;}


/* FRONT PAGE - FEATURED POSTS
------------------------------------------------------------------------*/

.frontpage-featured-posts{overflow:hidden;position:relative}
.frontpage-featured-posts > h2{font-size:22px;margin:0 0 25px;font-style:italic;}
.frontpage-featured-posts .entry-title{font-size:18px;}
.style2 .frontpage-featured-posts > h2{font-size:11px;margin:0 0 25px;font-style:normal;}
.style2 .frontpage-featured-posts .entry-title{font-size:13px;}

.frontpage-featured-posts .row{margin-left:-20px;margin-right:-20px}
.frontpage-featured-posts .row > div{padding-left:20px;padding-right:20px}


/* BLOG FEED
------------------------------------------------------------------------*/

.blog-feed{}
.blog-feed > h2{font-size:22px;margin:0 0 25px;font-style:italic;}
.style2 .blog-feed > h2{font-size:11px;margin:0 0 25px;font-style:normal;}


/* ENTRY
------------------------------------------------------------------------*/

.entry{margin-bottom:40px;position:relative;}
.entry:after{content:"";clear:both;display:table}

.entry.entry-sticky{margin-bottom:70px;}
.entry-signature{float:right;margin:-30px 0 30px}

.entry.entry-full{padding-bottom:25px}
.entry.entry-full .entry-meta{display:inline-block}

.blog-feed .entry{background-color:#fdfdfd;}
.style2 .blog-feed .entry{background-color:transparent; border-bottom: 1px solid #d5d5d5;margin-bottom: 40px;padding-bottom: 40px;}

.entry-thumb{margin-bottom:25px;position:relative;overflow:hidden;}
.entry-thumb img{display:block;width:100%;height:auto}
.entry-thumb img,
.entry-thumb a:before,.entry-thumb a:after{-webkit-transition:all 0.7s;-moz-transition:all 0.7s;-ms-transition:all 0.7s;-o-transition:all 0.7s;transition:all 0.7s}
/*.entry:hover .entry-thumb a:before{opacity:0;filter:alpha(opacity=0);}
.entry:hover .entry-thumb a:after{opacity:1;filter:alpha(opacity=100);} */
.entry .entry-thumb img:hover{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);-ms-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05);}

.entry-category{margin:0 0 5px;font-size:12px}
.style2 .entry-category{font-style:italic;font-size:12px;}

.entry-title{margin:0 0 10px;}

.entry-summary{line-height:22px;margin:0}

.entry-content{line-height:22px;}
.entry-content p{margin-bottom:20px}

.attachment-image{margin-bottom:25px; text-align: center;}
.attachment-image img{max-width: 100%; height: auto; margin: 0 auto; }
.attachment-caption { margin: 20px 0; text-align: center; }
.attachment-content{line-height:22px; border-top-color: #ccc; border-top-style: dashed; border-top-width: 1px; padding-top: 20px;}

.entry-meta{font-size:13px}
.entry-meta div{display:inline}
.entry-meta .sep{margin:0 5px}

.entry .left{width:50%;padding-right:10px;float:left;margin-right:40px}
.style2 .entry .left{width:300px;padding-right:10px;float:left;margin-right:40px}

.entry .left .entry-thumb{margin-bottom:0}
.entry .left .entry-thumb img{width:100%}

.entry .right {min-height:100%;padding:95px 45px 30px 20px;}
.style2 .entry .right {min-height:100%;padding:0px;}

.entry .right .entry-summary{margin-bottom:60px;}

.two-columns .entry .left{margin-right:15px}
.style2 .two-columns .entry .left{margin-right:10px}

.two-columns .entry .right{padding-top:65px}
.style2 .two-columns .entry .right{padding-top:0px;}

.two-columns .entry .right .entry-title{white-space:nowrap;text-overflow:ellipsis}
.two-columns .entry .right .entry-summary{margin-bottom:30px}
.two-columns .entry .right .entry-share{margin-left:15px;bottom:25px}
	

/* POSTS, PAGES
------------------------------------------------------------------------*/

.entry-post,
.entry-page {padding-right:10px;}

.entry-post .entry-title,
.entry-page .entry-title{margin-top:5px;}

.entry-post .entry-content,
.entry-page .entry-content { margin-top: 30px; }

.entry-header{}
.entry-header .entry-meta{display:inline}
.entry-header .entry-share{float:right}
.entry-footer .entry-share { float: right; }

.entry-post .entry-thumb,
.entry-page .entry-thumb{margin-top:25px;}
.entry-tags a { display: block; float: left; padding: .3em .8em; margin: 0 15px 5px 0; border: 1px solid #eee; color: #555; background: #f7f7f7; cursor: pointer; transition: all .15s ease-in-out; text-decoration: none; text-transform: capitalize; }
.entry-tags a:hover { text-decoration: none; color: #fff; border-color: transparent; }
.entry-tags { margin-top: 20px; margin-bottom: 20px; }

.entry-post .entry-meta .entry-category{}

.entry-post .entry-thumb:hover img{-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none;}
.entry-page .entry-thumb:hover img{-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none;}

           
/* WIDGETS
------------------------------------------------------------------------*/

.widget ul{list-style:none;margin:0;padding:0}
.widget ul > li > a{line-height:20px;padding:7px 15px;display:block}

.header-widget.widget_nav_menu{display:inline-block;vertical-align:middle}

.header-row-1-left .menu{list-style:none;margin:0;padding:0}
.header-row-1-left .menu > li{display:inline-block}
.header-row-1-left .menu > li > a{line-height:20px;padding:7px 15px;padding-top:3px;display:block}

/* Search Widget */		

.widget_search{display:inline-block;width:215px;vertical-align:middle;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s}
.widget_search form{position:relative;border-right:1px solid #d5d5d5}
.widget_search form:after{font-family:'FontAwesome';content:"\f002";z-index:0;position:absolute;right:25px;top:0;line-height:34px;font-size:14px}
.widget_search .form-control{position:relative;z-index:1;border:0;height:34px;background-color:transparent;padding-right:45px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.widget_search .form-control::-moz-placeholder{font-style:italic;}
.widget_search .form-control:-ms-input-placeholder{font-style:italic;}
.widget_search .form-control::-webkit-input-placeholder{font-style:italic;}

.header .widget_search form{ margin-right: 15px; padding-bottom: 3px;}

.footer-row-1-widget.widget_search{display:block;max-width:250px;width:auto;}
.footer-row-1-widget.widget_search form{border-right:0;}
.footer-row-1-widget.widget_search form:after{top:3px;right:15px}
.footer-row-1-widget.widget_search .form-control{border:1px solid #cccccc;height:40px;padding-right:35px}

/* Sidebar */	

.sidebar-column .widget{margin-bottom:40px;}
.sidebar-column .widget-title{margin:0 0 25px}
.style2 .sidebar-column .widget-title{font-size:12px;margin:0 0 25px}
.sidebar-column .widget:first-child .widget-title{margin-bottom:33px}

.sidebar-footer {margin-top: 60px;}

.sidebar-column .widget .textwidget p,
.sidebar-offcanvas .widget .textwidget p,
.sidebar-footer .widget .textwidget p {line-height:20px}

.sidebar-column .widget.widget_nav_menu{display:block}

.sidebar-column .widget ul > li{display:block}
.sidebar-column .widget ul > li > a{padding:7px 0;text-transform:uppercase}

.footer-row-1 .widget ul > li{display:block}
.footer-row-1 .widget ul > li > a{padding:7px 0;text-transform:uppercase}

.sidebar-column .widget.widget_search{display:block;max-width:300px;width:auto;}
.sidebar-column .widget.widget_search form{border-right:0}
.sidebar-column .widget.widget_search form:after{top:3px;right:15px}
.sidebar-column .widget.widget_search .form-control{border:1px solid #cccccc;height:40px;padding-right:35px}

.style2 .sidebar-frontpage,
.style2 .sidebar-single,
.style2 .sidebar-page { background-color: #f7f7f7; padding: 20px 10px 20px 20px; margin-bottom: 35px; }
.style2 .sidebar-frontpage .widget.widget_nav_menu,
.style2 .sidebar-single .widget.widget_nav_menu,
.style2 .sidebar-page .widget.widget_nav_menu{margin-bottom:0px;}
.style2 .sidebar-frontpage,
.style2 .sidebar-single,
.style2 .sidebar-page {margin-bottom:60px;}

/* Mail Poet */	

.widget_wysija{}
.widget_wysija label{display:none;}
.widget_wysija .wysija-paragraph{margin-bottom:10px}
.wysija-input{border:1px solid #cccccc;height:40px;padding:10px;line-height:20px;width:100%}
.wysija-submit{border:0;font-size:11px;color:#fff;background-color:#2d2d2d;margin-top:15px;line-height:18px;padding:10px 24px;text-transform:uppercase;display:inline-block}
.wysija-submit:focus,
.wysija-submit:hover{text-decoration:none;color:#fff;background-color:#000000}

/* Recent Posts Widget */	

.rpwwt-widget{}
.rpwwt-widget ul{list-style:none;margin:0;padding:0}
.rpwwt-widget ul >li{margin-bottom:10px;min-height:75px}
.rpwwt-widget a{display:inline !important}
.rpwwt-widget img {float:left;max-width:75px !important; max-height: 75px !important;margin-right:10px;padding:0}
.rpwwt-widget .rpwwt-post-title{margin:0 0 10px;line-height:1.25}
.rpwwt-widget .rpwwt-post-categories{font-size:12px;margin:0 0 5px}
.rpwwt-widget .rpwwt-post-date{font-size:11px;margin:0}
.rpwwt-widget ul li{margin-bottom:5px !important}
.sidebar-widget.recent-posts-widget-with-thumbnails ul >li{margin-bottom:20px}

/* Custom Menu - "Social" */		
.menu-social-container{}
.widget .menu-social-container ul { display: inline-block !important; overflow: hidden; margin: 0; padding: 0; }
.widget .menu-social-container li { display: inline-block !important; margin: 0; list-style: none; padding-top: 3px; padding-right: 5px; }
.widget .menu-social-container li a { display: block !important; padding: 0 !important; margin: 0 !important; line-height: 1; text-align: center; overflow: hidden; width: 25px; height: 25px; font-size: 14px;  text-align: center; padding-top:5px;}
.widget .menu-social-container ul li a:before { display: inline-block; width: 25px; height: 25px; -webkit-font-smoothing: antialiased; vertical-align: top; visibility: visible; }
.widget .menu-social-container .menu {margin:0;}
.widget .menu-social-container .menu li a:before { font: normal 14px/1 'FontAwesome'; padding: 7px 0 0 0; text-align: center; content: '\f408'; }
.widget .menu-social-container .menu li a[href*="codepen.io"]::before {content: '\f1cb';}
.widget .menu-social-container .menu li a[href*="digg.com"]::before {content: '\f1a6';}
.widget .menu-social-container .menu li a[href*="dropbox.com"]::before {content: '\f16b';}
.widget .menu-social-container .menu li a[href*="facebook.com"]::before  {content: '\f09a';}
.widget .menu-social-container .menu li a[href*="flickr.com"]::before  {content: '\f16e';}
.widget .menu-social-container .menu li a[href*="plus.google.com"]::before  {content: '\f0d5';}
.widget .menu-social-container .menu li a[href*="github.com"]::before{content: '\f09b';}
.widget .menu-social-container .menu li a[href*="instagram.com"]::before {content: '\f16d';}
.widget .menu-social-container .menu li a[href*="linkedin.com"]::before {content: '\f0e1';}
.widget .menu-social-container .menu li a[href*="pinterest.com"]::before {content: '\f0d2';}
.widget .menu-social-container .menu li a[href*="dribbble.com"]::before {content: '\f17d';}
.widget .menu-social-container .menu li a[href*="getpocket.com"]::before {content: '\f265';}
.widget .menu-social-container .menu li a[href*="reddit.com"]::before {content: '\f1a1';}
.widget .menu-social-container .menu li a[href*="skype.com"]::before,
.widget .menu-social-container .menu li a[href*="skype:"]::before {content: '\f17e';}
.widget .menu-social-container .menu li a[href*="stumbleupon.com"]::before {content: '\f1a4';}
.widget .menu-social-container .menu li a[href*="tumblr.com"]::before {content: '\f173';}
.widget .menu-social-container .menu li a[href*="twitter.com"]::before {content: '\f099';}
.widget .menu-social-container .menu li a[href*="vimeo.com"]::before {content: '\f27d';}
.widget .menu-social-container .menu li a[href*="youtube.com"]::before {content: '\f167';}
.widget .menu-social-container .menu li a[href*="wordpress.org"]::before,
.widget .menu-social-container .menu li a[href*="wordpress.com"]::before {content: '\f19a';}
.widget .menu-social-container .menu li a[href*="feed"]::before {content: '\f09e';}
.widget .menu-social-container .menu li a[href*="mailto"]::before {content: '\f0e0';}


/* FORMS
------------------------------------------------------------------------*/

.form-group{margin-bottom:25px}
.form-actions{padding-top:15px}
.form-label{font-size:11px;}

.form-control{font-weight:300;font-size:12px;border-color:#f1f1f1;background-color:#fafafa;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.form-control:focus{border-color:#f1f1f1;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:0}
.btn{padding:10px 28px;font-size:11px;font-weight:300;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;text-transform:uppercase;}

.btn-default{background-color:#2d2d2d;border-color:#2d2d2d;color:#fff}
.btn-default:focus,.btn-default:hover{background-color:#000;border-color:#000;color:#fff}
.btn:active,.btn:focus,.btn:hover{color:#fff}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]{margin-bottom:0}
.bootstrap-select > .btn{border-color:#f1f1f1;background-color:#fafafa;color:#545454;padding:6px 12px;height:34px;font-size:12px;font-style:italic;text-transform:none}
.bootstrap-select.btn-group .dropdown-menu li > a{text-transform:none;letter-spacing:0;font-style:normal}

.checkbox,
.radio,
.checkbox-inline,
.radio-inline{padding-left:0}
.checkbox label,
.radio label,
.checkbox-inline label,
.radio-inline label{font-size:12px;font-weight:400;padding-left:20px;position:relative;line-height: 22px;}
.checkbox-inline + .checkbox-inline,
.radio-inline + .radio-inline{margin-left:35px}


/* COMMENTS
------------------------------------------------------------------------*/

.comments{padding-bottom:35px;}

.comment-title{line-height:1.3;margin:0 0 40px;}

.comment-list{list-style:none;margin:0 0 40px;padding:0}
.comment-list > li{margin-top:40px}
.comment-list > li:first-child{margin-top:0}

.comment-list .children{list-style:none;margin:0 0 0 16.66666667%;padding:0 0 0 30px}
.comment-list .children > li{margin-top:40px}

.comment-body{}
.comment-body:after{display:table;clear:both;content:" ";}
.comment-body > .comment-meta{float:left;width:16.66666667%}
.comment-body > .reply,.comment-body > .comment-content{margin-left:16.66666667%;padding-left:30px;}

.comment-author{text-transform:uppercase;font-size:11px;font-weight:400;margin:0 0 5px;letter-spacing:0.5px;}
.comment-author .says{display:none}
.comment-author-admin .comment-author{color:#fff;background-color:#2d2d2d;display:inline-block;padding:5px 10px;text-transform:none;font-style:italic}
.comment-author-admin .comment-author a {color:#fff;}

.comment-metadata{font-size:11px;margin:0 0 20px;font-style:italic;}
.comment-subject{font-weight:700;margin:0 0 15px;}
.comment-content{line-height:22px;text-align:justify}

.comment-reply{}
.comment-reply-link{font-weight:700;display:inline-block;position:relative;}
.comment-reply-link:before{content:"\f178";font-family: 'FontAwesome';margin-right:10px;font-size:18px;position:relative;top:2px}
.comment-reply-link:focus,.comment-reply-link:hover{text-decoration:none}

.comment-form{}

.comments .comment-reply-title{line-height:1.3;margin:0 0 40px;margin-bottom:5px}

.comments .comment-notes{font-size:12px;font-style:italic;margin-bottom:40px;}

p.comment-subscription-form label {
    font-weight: normal;
}
    

/* BLOG PAGINATION
------------------------------------------------------------------------*/

.pagination-blog-feed{margin-bottom:40px}
.pagination-blog-feed a{text-decoration:none;font-size:12px;font-weight:700;text-transform:uppercase}
.style2 .pagination-blog-feed a{padding:12px;background-color:#2d2d2d;color:#fff;}
.style2 .pagination-blog-feed a:hover{color:#fff;background-color:#000;}

.pagination-blog-feed a:after,.pagination-blog-feed a:before{font-size:14px;font-weight:400;font-family:'FontAwesome';vertical-align:middle}
.pagination-blog-feed a:hover,.pagination-blog-feed a:focus{text-decoration:none}
.pagination-blog-feed .previous_posts{display:inline}
.pagination-blog-feed .previous_posts a:before{content:"\f053";margin-right:10px}
.pagination-blog-feed .next_posts{float:right}
.pagination-blog-feed .next_posts a:after{content:"\f054";margin-left:10px}

.pagination-post{margin:25px 0;padding-bottom:10px}
.pagination-post >div{display:inline-block}
.pagination-post .next_post{float:right;margin-left:30px}
.pagination-post a{position:relative;text-transform:uppercase;display:block}
.pagination-post a:focus,
.pagination-post a:hover{text-decoration:none;}
.pagination-post .previous_post a:before{content:"\f177";font-family: 'FontAwesome';margin-right:10px;font-size:18px;position:relative;top:2px}
.pagination-post .next_post a:after{content:"\f178";font-family: 'FontAwesome';margin-left:10px;font-size:18px;position:relative;top:2px}


/* FOOTER
------------------------------------------------------------------------*/

.footer-row-1-widget{margin-top:35px;margin-bottom:35px}
.footer-row-1-widget .widget-title{margin:0 0 40px}
.footer-row-1-widget .textwidget p{margin-bottom:20px;line-height:20px}

.footer-widget-nav{list-style:none;margin:0;padding:0;}
.footer-widget-nav > li{margin-bottom:10px}
.footer-widget-nav > li > a{text-transform:uppercase;}
	
.footer-row-2{padding:55px 0 45px;text-align:center}
.footer-row-2 .widget_nav_menu{display:block;margin-bottom:15px}

.footer-copyright{margin:0 0 5px;font-size:11px}
.footer-copyright .credit{list-style:none;margin:0;padding:0}


/* OFF CANVAS MENU
------------------------------------------------------------------------*/
		
.side-page-toggle{display:inline-block;padding:7px 0;line-height:20px;margin-right:15px;font-size:14px;color:#000000}

#side-page-overlay{position:absolute;width:100%;height:100%;background-color:#000;z-index:998;opacity:0.5;filter:alpha(opacity=50);display:none}
#side-page{position:absolute;width:351px;height:100%;background-color:#fff;z-index:999;border-right:1px solid #000000;left:-351px}
#side-page .inner{padding:30px 25px}
#side-page .side-page-close{position:absolute;right:13px;top:11px;line-height:1;font-size:18px;color:#333}
#side-page .tagline{margin-top:12px;margin-left:0;text-align:center}
#side-page .logo{line-height:56px;height:56px;text-align:center}
#side-page .logo .header-logo-text{line-height:56px;height:56px;font-size:48px}

.side-page-nav ul {margin:25px 0 30px;border-top:1px solid #e7e7e7; list-style:none; padding-left:0px;}
.side-page-nav ul > li{position: relative; display: block;}
.side-page-nav ul > li > a{position: relative; display: block; padding: 10px 15px; text-align:center;text-transform:uppercase;color:#000000;border-bottom:1px solid #e7e7e7;line-height:20px;padding:10px}
.side-page-nav ul > li > a:focus,
.side-page-nav ul > li > a:hover{text-decoration: none;color:#fff;outline:none}

.sidebar-offcanvas .widget{margin-bottom:25px}
.sidebar-offcanvas .widget_nav_menu{display:block;text-align:center}
.sidebar-offcanvas .textwidget{font-size:13px;line-height:22px;text-align:center}


/* VIDEO EMBED
------------------------------------------------------------------------*/

.iframe-video, .embed-vimeo, .embed-youtube {position: relative; padding-bottom: 57%; height: 0; overflow: hidden;}
.iframe-video iframe, .embed-vimeo iframe, .embed-youtube iframe{position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important; }

/* BUDDYPRESS
------------------------------------------------------------------------*/

.bp-widget { margin-top: 40px; }
.profile-fields td.label { color: inherit; font-size: 100%; display: table-cell; text-align: inherit; }

/* MEDIA QUERIES
------------------------------------------------------------------------*/

@media (min-width: 1300px) {
  .container{ width:1230px;}
}

@media (max-width:1199px){
	.entry .right{padding-top:70px}
	.entry .right .entry-summary{margin-bottom:40px}
	.two-columns .entry .right{padding-top:35px}
	.two-columns .entry .right .entry-title{font-size:18px}
	.two-columns .entry .right .entry-summary{margin-bottom:20px;max-height:110px;overflow:hidden}
	.two-columns .entry .right .entry-share{bottom:20px}
	.logo.image-logo{line-height:70px;height:70px;margin-top:0}
}
@media (min-width:992px) and (max-width:1199px){
	.two-columns .entry .right{padding-top:25px}
	.sidebar-widget .menu-social-container .menu > li > a{padding-left:5px;padding-right:5px}
}
@media (max-width:991px){
	.logo.image-logo{line-height:60px;height:60px;}
	.entry .right{padding-top:35px}
	.entry .right .entry-title{font-size:18px}
	.blog-feed .entry .right .entry-title{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
	.entry .right .entry-summary{margin-bottom:20px;max-height:110px;overflow:hidden}
	.entry .left{margin-right:15px}
	.entry .right .entry-share{bottom:20px;margin-left:15px}
	.entry-caption{width:430px;margin-left:-215px;padding:30px 60px}
	.entry-content,
	.entry .right .entry-summary{}
	.frontpage-banner .caption{width:430px;margin-left:-215px;padding:30px 60px}
}
@media (min-width:768px) and (max-width:991px){
	.navbar-default .navbar-nav > li > a{padding-left:10px;padding-right:10px}
	.menu > li > a{padding-left:10px;padding-right:10px}
	.widget_search{width:160px}
	.entry-signature{margin-top:-15px;width:50px;margin-right:-30px}
	
	.header-row-1-right .widget_search{display:block;width:auto;max-width:300px;margin:10px auto;border:1px solid #d5d5d5}
	.header-row-1-right .widget_search form{border-right:0}
	.header-row-1-right .widget_search form:after{right:15px;top:2px}
	/*.header-row-1-right .widget_search .form-control{height:50px;}*/
	.header-row-1-toggle{display:block}
	.header-row-1{max-height:0;overflow:hidden;position:relative;border-bottom:0;padding:0}
	.style2 .header-row-1{max-height:0;overflow:hidden;position:relative;border-bottom:0;padding:0}
	.style2 .header{padding-top:0}
	.header-row-1.open{max-height:300px;padding:15px 0}
	.style2 .header-row-1.open{-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
	.header-row-1-left,
	.header-row-1-right{text-align:center}
}
@media (max-width:767px){
	.header-row-1-right .widget_search{display:block;width:auto;max-width:300px;margin:10px auto;border:1px solid #d5d5d5}
	.header-row-1-right .widget_search form{border-right:0}
	.header-row-1-right .widget_search form:after{right:15px;top:8px}
	/*.header-row-1-right .widget_search .form-control{height:50px;}*/
	.header-row-1-toggle{display:block}
	.header-row-1{max-height:0;overflow:hidden;position:relative;border-bottom:0;padding:0}
	.style2 .header-row-1{max-height:0;overflow:hidden;position:relative;border-bottom:0;padding:0}
	.header-row-1.open{max-height:300px;padding:15px 0}
	.style2 .header{padding-top:0}
	.style2 .header-row-1.open{-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
	.header-row-1-left,
	.header-row-1-right{text-align:center}
	
	.logo{line-height:50px;height:50px;margin-top:15px;}
	.logo.image-logo{line-height:50px;height:50px;}
	.logo .header-logo-text{line-height:50px;height:50px;font-size:48px}
	.tagline{font-size:11px;}
	.header-row-2{padding-top:10px;padding-bottom:10px}
	.header-row-2-right{float:none;margin:0 -15px}
	.navbar-default .navbar-collapse{margin-top:15px}
	.navbar-default .navbar-nav{margin-left:0;margin-right:0}
	.navbar-default .navbar-nav > li > a{padding:8px 15px}
	.entry .left .entry-thumb{margin-bottom:25px;}
	.entry .right .entry-share{position:relative;bottom:0;left:0;margin-left:0;margin-top:10px}
	.entry .right,
	.two-columns .entry .right{padding:20px}
	.blog-feed .entry .right .entry-title,
	.two-columns .entry .right .entry-title{white-space:normal}
	.entry .left,
	.two-columns .entry .left{float:none;width:auto;padding-right:0;margin-right:0}
	
	.entry .right .entry-summary,
	.two-columns .entry .right .entry-summary{max-height:inherit}
	.two-columns .entry .right .entry-share{bottom:0;margin-left:0}
	.one-column .entry .left { float: left; width: auto; padding-right:0;margin-right:0}
	.entry.entry-full .right .entry-share{float:none;margin-top:10px}
	.style2 .entry .left { width: auto; float: none; }
	.side-page-toggle,
	#side-page-overlay,
	#side-page{display:none !important}
	.entry-signature{float:none;margin:0 0 15px}
	.frontpage-banner .caption{width:250px;margin-left:-125px;padding:20px 40px}
	.frontpage-banner .caption .category,
	.frontpage-banner .caption .meta,
	.frontpage-banner .caption .description{display:none}
	.frontpage-banner .caption h2{font-size:18px;margin-bottom:0}
	.style2 .frontpage-banner .caption h2{font-size:18px;margin-bottom:0}
	.pagination-post .previous_post,
	.pagination-post .next_post{float:none;display:block;text-align:center}
}
@media (max-width:700px){
	.two-columns .entry .right .entry-summary{max-height:70px}
}

@media (max-width:480px){
	.entry-caption{width:250px;margin-left:-125px;padding:20px}
	.entry-caption .description{display:none}
	.entry-caption h2{font-size:18px;margin-bottom:10px}
	.two-columns .pagination-blog-feed .previous_posts, .two-columns .pagination-blog-feed .next_posts{margin:0 10px}
	.category-box.category-box-large{height:auto;min-height:488px}
	.category-box.category-box-small{height:auto;min-height:240px}
	.logo .header-logo-text{font-size:32px}
}
@media (max-width:320px){
	.frontpage-banner .caption{display:none}
}